<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "tk.bluelime.app"
    version   = "1.0.0">

<name>Bluelime.tk</name>

<description>
App for players to connect to our servers and chat with in game players and each other and make fourm post and more!
</description>

<author href="https://bluelime.tk" email="fancraft@bluelime.tk">
Bluelime.tk Network
</author>
<icon src="imgs/icon.png" width="48px" height="48px" />
<gap:splash src="imgs/splash.png" />
</widget>
